<section class="goals">
  <h1>目標体重一覧</h1>
  <table>
  <%- @goals.each do |goal| %>
      <tr>
        <td>
          <%= link_to '編集', edit_goal_path(goal) %>
        </td>
        <td>
          <%= goal.id %>:id
        </td>
        <td>
          <%= goal.date.strftime("%Y年%m月%d日") %>  <%= goal.weight %>kg
        </td>
      </tr>
  <% end %>
</table>
  <%= link_to '新規追加', new_goal_path %>

  <% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
  <% end %>
</section>
